pyqt5-tools==5.15.1.3.2
PyQt5==5.15.1
PyQt5-sip==12.8.1
requests==2.26.0
QDarkStyle==3.0.2
pystardict==0.8
opencv-python==4.2.0.32
numpy==1.18.5
system_hotkey
xcffib
xpybutil
pyzmq~=22.3.0
googletrans>=4.0.0rc1